In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\anaconda\lib\site-packages (3.141.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: urllib3 in c:\anaconda\lib\site-packages (from selenium) (1.26.7)

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [29]:
driver = webdriver.Chrome(r"C:\Users\SSIM STUDENT\Desktop\job\DA\chromedriver.exe")
time.sleep(0)

In [30]:
driver.get('https://www.naukri.com/')

In [31]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Analyst")

In [32]:
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [33]:
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [34]:
Job_Role=[]
Comp_names=[]
Experience_list=[]
Location_list=[]

In [35]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="adc8440dcee49d0d28ed94f859eef41b", element="74fdc47c-f05b-4eed-82da-4559c4076c7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc8440dcee49d0d28ed94f859eef41b", element="e6ee8b95-0635-4e96-8ae8-1adabe4b99fb")>]

In [36]:
for i in title_tags:
    title=i.text
    Job_Role.append(title)
Job_Role[0:2]

['Business Data Analyst', 'EY GDS Data Analyst-Finland based project']

In [37]:
Jl= Job_Role[0:10]

In [38]:
Company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="adc8440dcee49d0d28ed94f859eef41b", element="8886a76d-eeb7-4405-9eab-7d13c57ecbd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc8440dcee49d0d28ed94f859eef41b", element="ed9ac465-ae63-4c2b-8250-f2577368ba98")>]

In [39]:
for i in Company_tags:
    company_lint=i.text
    Comp_names.append(company_lint)
Comp_names[0:2]

['NXP Semiconductors', 'EY']

In [40]:
Cl=Comp_names[0:10]

In [41]:
Experience_lists=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
Experience_lists[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="adc8440dcee49d0d28ed94f859eef41b", element="1e49ba67-06fe-4f1b-9424-749ee14fbe28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc8440dcee49d0d28ed94f859eef41b", element="91b2a65a-4fa8-4415-b014-23ba6e115ef5")>]

In [42]:
for i in Experience_lists:
    Experience_lint=i.text
    Experience_list.append(Experience_lint)
Experience_list[0:2]

['2-5 Yrs', '0-1 Yrs']

In [43]:
El=Experience_list[0:10]

In [44]:
Location_lists=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
Location_lists[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="adc8440dcee49d0d28ed94f859eef41b", element="b950945e-fdad-4759-8e75-660fe22a0e07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="adc8440dcee49d0d28ed94f859eef41b", element="808820c5-d98c-4d5e-a437-abd53e8c8109")>]

In [45]:
for i in Location_lists:
    Location_lint=i.text
    Location_list.append(Location_lint)
Location_list[0:2]

['Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [46]:
Ll=Location_list[0:10]

In [47]:
len(Jl),len(Cl),len(El),len(Ll)

(10, 10, 10, 10)

In [48]:
jobs=pd.DataFrame({'title':Jl,'company':Cl,'Experience_required':El,'location':Ll})

In [49]:
jobs

,title,company,Experience_required,location
0,Business Data Analyst,NXP Semiconductors,2-5 Yrs,Bangalore/Bengaluru
1,EY GDS Data Analyst-Finland based project,EY,0-1 Yrs,Bangalore/Bengaluru
2,Data Analyst - Data and Analytics,Intel,3-6 Yrs,Bangalore/Bengaluru
3,Data Analyst - Data and Analytics,Intel,3-6 Yrs,Bangalore/Bengaluru
4,Data Analyst (CSD),Siemens,2-6 Yrs,Bangalore/Bengaluru
5,"Data Analyst - Data Science, 3 To 5 Years",Rise Finconnect Private Limited,2-6 Yrs,Bangalore/Bengaluru
6,Data Analyst / Business Analyst,METRO Cash & Carry,3-8 Yrs,Bangalore/Bengaluru
7,Data Analyst,Cigna TTK,2-4 Yrs,Bangalore/Bengaluru
8,SAS/SQL - Healthcare Data Analyst - Bangalore,Genpact,7-10 Yrs,Bangalore/Bengaluru
9,Business & Data Analyst - Alteryx (London),Imaginative Brains LLP,5-10 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

Q4:Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [50]:
driver = webdriver.Chrome(r"C:\Users\SSIM STUDENT\Desktop\job\DA\chromedriver.exe")
time.sleep(2)

In [51]:
driver.get('https://www.flipkart.com/')

In [52]:
button = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
button.click()

In [53]:
field_desi = driver.find_element_by_class_name("_3704LK")
field_desi.send_keys('SunGlasses')

In [54]:
button = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
button.click()

In [55]:
brand = driver.find_elements_by_class_name("_2WkVRV")
brand[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="67ba563df7da0a000a1a1a0120112859", element="6e3755fa-d2c8-43c2-a6c7-d9ae5f5fc67f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67ba563df7da0a000a1a1a0120112859", element="80972562-9997-46f2-b77f-9a1d7184c6ef")>]

In [56]:
brands=[]

In [57]:
for i in brand :
    brands.append(i.text)

In [58]:
button = driver.find_element_by_class_name("_1LKTO3")
button.click()
time.sleep(5)

In [59]:
brand = driver.find_elements_by_class_name("_2WkVRV")
brand[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="67ba563df7da0a000a1a1a0120112859", element="ff9a9488-ad92-4c29-85e7-1750fb5fd9a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67ba563df7da0a000a1a1a0120112859", element="511e1c40-086a-4149-81e6-d558b64ad484")>]

In [60]:
for i in brand :
    brands.append(i.text)
brands[0:2]

['Mi', 'Mi']

In [61]:
button = driver.find_element_by_class_name("_1LKTO3")
button.click()
time.sleep(5)

In [62]:
brand = driver.find_elements_by_class_name("_2WkVRV")
brand[0:2]

[]

In [ ]:
for i in brand :
    brands.append(i.text)
brands[0:2]

In [ ]:
len(brands)

In [ ]:
des = driver.find_elements_by_class_name("IRpwTa")
des[0:2]

In [ ]:
product=[]
for i in des :
    product.append(i.text)
product[0:2]

In [ ]:
len(product)

In [ ]:
button = driver.find_element_by_class_name("_1LKTO3")
button.click()
time.sleep(5)

In [ ]:
des = driver.find_elements_by_class_name("IRpwTa")
des[0:2]

In [ ]:
for i in des :
    product.append(i.text)
product[0:2]

In [ ]:
len(product)

In [ ]:
button = driver.find_element_by_class_name("_1LKTO3")
button.click()
time.sleep(5)

In [ ]:
des = driver.find_elements_by_class_name("IRpwTa")
des[0:2]

In [ ]:
for i in des :
    product.append(i.text)
product[0:2]

In [ ]:
len(product)

In [ ]:
pri =  driver.find_elements_by_class_name("_3bPFwb")
pri[0:2]

In [ ]:
price=[]
for i in pri:
    price.append(i.text)
price[0:2]

In [ ]:
pr =  driver.find_elements_by_class_name("_3bPFwb")
pr[0:2]

In [ ]:
price=[]
for i in pri:
    price.append(i.text.split()[0].replace('₹','  /-'))
price [0:2]

In [ ]:
len(price)

In [ ]:
button = driver.find_element_by_class_name("_1LKTO3")
button.click()
time.sleep(5)
pri =  driver.find_elements_by_class_name("_3bPFwb")
pri[0:2]

In [ ]:
for i in pri:
    price.append(i.text.split()[0].replace('₹','  /-'))
price[0:2]

In [ ]:
button = driver.find_element_by_class_name("_1LKTO3")
button.click()
time.sleep(5)
pri =  driver.find_elements_by_class_name("_3bPFwb")
pri[0:2]

In [ ]:
for i in pri:
    price.append(i.text.split()[0].replace('₹','  /-'))
price[0:2]

In [ ]:
len(price)

In [ ]:
Pr=price[0:100]

In [ ]:
len(Pr)

In [ ]:
Pd=product[0:100]

In [ ]:
Br=brands[0:100]

In [ ]:
len(Pr),len(Pd),len(Br)

In [ ]:
Sunglass=pd.DataFrame({'Brand':Br,'ProductDescription':Pd,'Cost':Pr})
Sunglass

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:

First get the webpage https://www.flipkart.com/
Enter “iphone 11” in “Search” field .
Then click the search button. You will reach to the below shown webpage . As shown in the above page you have to scrape the tick marked attributes.These are:
Rating
Review summary
Full review
You have to scrape this data for first 100 reviews.

In [ ]:
driver = webdriver.Chrome(r"C:\Users\SSIM STUDENT\Desktop\job\DA\chromedriver.exe")
time.sleep(2)
driver.get('https://www.flipkart.com/')

In [ ]:
button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
button.click()

In [ ]:
search = driver.find_element_by_class_name('_3704LK')
search.send_keys('iphone 11')

In [ ]:
button = driver.find_element_by_class_name("L0Z3Pu")
button.click()

In [ ]:
Rating = []
Reiviewsumm = []
FullReiview = []

In [ ]:
ra =  driver.find_elements_by_class_name("_3LWZlK")
ra[0:2]

In [ ]:
for i in ra:
    Rating.append(i.text)
Rating[0:2]

In [ ]:
len(Rating)

In [ ]:
rs = driver.find_elements_by_class_name('_2_R_DZ')
rs[0:2]

In [ ]:
for i in rs:
    Reiviewsumm.append(i.text)
Reiviewsumm[0:2]

In [ ]:
len(Reiviewsumm)

In [ ]:
button = driver.find_element_by_class_name("_2_R_DZ")
button.click()

In [ ]:
button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div")
button.click()

In [ ]:
fr = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/div[4]/div[1]/div/div/div[2]/div')
fr

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [ ]:
driver = webdriver.Chrome(r"C:\Users\SSIM STUDENT\Desktop\job\DA\chromedriver.exe")
time.sleep(2)
driver.get('https://www.flipkart.com/')

In [ ]:
button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
button.click()

In [ ]:
search = driver.find_element_by_class_name('_3704LK')
search.send_keys('sneakers')

In [ ]:
button = driver.find_element_by_class_name("L0Z3Pu")
button.click()

In [ ]:
brand=[]

br =  driver.find_elements_by_class_name("_2WkVRV")
br[0:2]

In [ ]:
for i in br:
    brand.append(i.text)
brand[0:2]

In [ ]:
product =[]
pd=  driver.find_elements_by_class_name("IRpwTa")
pd[0:2]

In [ ]:
for i in pd:
    product.append(i.text)
product[0:2]

In [ ]:
price=[]
ct=driver.find_element_by_class_name("_3bPFwb")
ct

In [ ]:
ct.text.split()[0].replace('₹','  ')

In [ ]:
ct.text.split()[0].replace('₹','  ').split()[0]

In [ ]:
p=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div[2]/a[2]/div/div[3]/span')
p[0:2]

In [ ]:
p.text.split()[0]

In [ ]:
price =[]
ct=driver.find_elements_by_class_name("_3bPFwb")
ct[0:2]

In [ ]:
for i in ct:
    price.append(i.text.split()[0].replace('₹','  ').split()[0])
price[0:2]

In [ ]:
discount =[]
p=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
p[0:2]

In [ ]:
for i in p:
    discount.append(i.text.split()[0])
discount[0:2]

In [ ]:
print(len(discount),len(price),len(product),len(brand))

In [ ]:
Sneakers=pd.DataFrame({'Brand':brand,'Product Description':product,'Cost':price,'Discount %':discount})
Sneakers

Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image. Note: Applying the filter and scraping the data, everything should be done through code only and there should not be any manual step.

In [14]:
driver = webdriver.Chrome(r"C:\Users\SSIM STUDENT\Desktop\job\DA\chromedriver.exe")
time.sleep(2)
driver.get('https://www.myntra.com/shoes')

In [12]:
button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
button.click()

In [13]:
button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
button.click()

In [ ]:
br=driver.find_element_by_class_name('product-brand')
br

In [ ]:
br=driver.find_elements_by_class_name('product-brand')
br[0:2]

In [ ]:
Brand1=[]
for i in br:
    Brand1.append(i.text)
Brand[0:2]

In [ ]:
len(Brand1)

In [ ]:
s = driver.find_elements_by_xpath('//h4[@class="product-product"]')
s[0:2]

In [ ]:
ssd = []
ss = driver.find_element_by_xpath('//h4[@class="product-product"]')
ss

In [ ]:
for i in s:
    ssd.append(i.text)
ssd[0:2]

In [ ]:
len(ssd)

In [ ]:
price1=[]
cost=driver.find_elements_by_class_name('product-price')
cost[0:2]

In [ ]:
for i in cost:
    price1.append(i.text)
price1[0:2]

In [ ]:
len(price)

In [ ]:
button = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
button.click()

In [ ]:
b=driver.find_elements_by_class_name('product-brand')
b[0:2]

In [ ]:
for i in b:
    Brand1.append(i.text)
Brand1[0:2]

In [ ]:
len(Brand1)

In [ ]:
s = driver.find_elements_by_xpath('//h4[@class="product-product"]')
s[0:2]

In [ ]:
for i in s:
    ssd.append(i.text)
ssd[0:2]

In [ ]:
len(ssd)

In [ ]:
cost=driver.find_elements_by_class_name('product-price')
cost[0:2]

In [ ]:
for i in cost:
    price1.append(i.text)
price1[0:2]

In [ ]:
len(Brand1),len(ssd),len(price1)

In [ ]:
df=pd.DataFrame({'Brand':Brand1,'ShortDescription':ssd,'Price':price1})
df

Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

1.Title
2.Ratings
3.Price Note: All the steps required during scraping should be done through code only and not manually.

In [4]:
driver = webdriver.Chrome(r"C:\Users\SSIM STUDENT\Desktop\job\DA\chromedriver.exe")
time.sleep(2)

In [5]:
driver.get('https://www.amazon.in/')

In [6]:
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [7]:
button = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
button.click()

In [8]:
fil = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/div/label/i')
fil.click()

In [9]:
tit=driver.find_element_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
tit

In [10]:
tit.text

'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14 inches QHD IPS Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN'

In [22]:
tit=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
title=tit[0:1]
title

In [13]:
Title=[]
for i in title:
    Title.append(i.text)
Title[0:2]

['Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14 inches QHD IPS Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'Lenovo Yoga 9 11th Gen Intel Core i7 14" 4K Ultra HD IPS Touchscreen 2-in-1 Convertible Laptop(16GB/1TB SSD/Windows 11/MS Office 2021/Fingerprint Reader/Shadow Black/Leather Surface/1.44Kg),82BG00BSIN']

In [17]:
ratee = driver.find_elements_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
ratee

In [18]:
Rating=[]
for i in ratee:
    Rating.append(i.text)
Rating

['']

In [19]:
rating.text

''

In [20]:
len(Title),len(Rating)

(10, 1)

In [23]:
df=pd.DataFrame({'Title':title,'Rating':Rating})
df

                                               Title Rating
0  <selenium.webdriver.remote.webelement.WebEleme...

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

1.First get the webpage https://www.ambitionbox.com/
2.Click on the Job option as shown in the image
3.After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4.You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5.Then scrape the data for the first 10 jobs results you get on the above shown page.
6.Finally create a dataframe of the scraped data. Note: All the steps required during scraping should be done through code only and not manually.

In [25]:
driver = webdriver.Chrome(r"C:\Users\SSIM STUDENT\Desktop\job\DA\chromedriver.exe")
time.sleep(2)
driver.get('https://www.ambitionbox.com/')

In [26]:
button = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
button.click()

In [27]:
search = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

In [28]:
button = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
button.click()

In [29]:
button = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
button.click()

In [30]:
button = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
button.click()

In [31]:
tit=driver.find_element_by_xpath('//a[@class="title noclick"]')
tit
tit.text

'Principal Data Scientist'

In [33]:
title=driver.find_elements_by_xpath('//a[@class="title noclick"]')
title[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="74a775b3a73a774f97b7ad034667ca67", element="2fcc52c7-b2f0-43fa-8ed3-6dec5913bff5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74a775b3a73a774f97b7ad034667ca67", element="27a1af77-9b61-4521-8f95-ec8341d51178")>]

In [34]:
JOB=[]
for i in title:
    JOB.append(i.text)
JOB

['Principal Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Job Opening For Data Scientist position with Wipro - Bangalore',
 'Lead Data Scientist - OptumLabs',
 'Urgent hiring_Data Scientist_Tata Consultancy Services(Tcs)',
 'Urgent hiring_Data Scientist_Tata Consultancy Services(Tcs)Pan India',
 'Senior Marketing Data Scientist',
 'Senior Data Scientist',
 'Immediate opening For Data Scientist @ Bangalore/Hyderabad /Mumbai']

In [35]:
comp=driver.find_element_by_xpath('//p[@class="company body-medium"]')
comp

In [36]:
comp.text

'Sanofi India Ltd'

In [38]:
company=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
company[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="74a775b3a73a774f97b7ad034667ca67", element="10f7984b-17d1-49ef-800f-2559920d9aff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74a775b3a73a774f97b7ad034667ca67", element="856734aa-2548-4e7c-bc2a-af876981828e")>]

In [44]:
NamE=[]
for i in company:
    NamE.append(i.text)
NamE[0:2]

['Sanofi India Ltd', 'GENPACT India Private Limited']

In [45]:
exep=driver.find_element_by_xpath('//div[@class="entity"]/p[1]')
exep
exep.text

'5-8 years'

In [47]:
exep_req=driver.find_elements_by_xpath('//div[@class="entity"]/p[1]')
exep_req[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="74a775b3a73a774f97b7ad034667ca67", element="7a7a6e39-5aff-4d5e-8f83-00a30dd1832f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74a775b3a73a774f97b7ad034667ca67", element="de5ef627-2dde-45d7-a167-da4ac7823c34")>]

In [49]:
EXE=[]
for i in exep_req:
    EXE.append(i.text)
EXE[0:2]

['5-8 years', 'Not Disclosed']

In [51]:
len(EXE)

32

In [52]:
Exe=EXE[0:10]
len(Exe)

10

In [53]:
loc=driver.find_element_by_xpath('//div[@class="entity loc"]/p')
loc
loc.text

'Hyderabad/Secunderabad'

In [55]:
lo=driver.find_elements_by_xpath('//div[@class="entity loc"]/p')
lo[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="74a775b3a73a774f97b7ad034667ca67", element="77463454-9e20-4ce9-923b-e367fbc6c7c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74a775b3a73a774f97b7ad034667ca67", element="4e7202fc-476f-482c-8d70-4387d28c300f")>]

In [57]:
Loc=[]
for i in lo:
    Loc.append(i.text)
Loc[0:2]

['Hyderabad/Secunderabad', 'Hyderabad/Secunderabad']

In [60]:
df=pd.DataFrame({'Job-Role':JOB,'Company-Name':NamE,'Experience-Required':Exe})
df

,Job-Role,Company-Name,Experience-Required
0,Principal Data Scientist,Sanofi India Ltd,5-8 years
1,Data Scientist,GENPACT India Private Limited,Not Disclosed
2,Data Scientist,GENPACT India Private Limited,5-8 Yrs
3,Job Opening For Data Scientist position with W...,Wipro Limited,Not Disclosed
4,Lead Data Scientist - OptumLabs,Optum Global Solutions (India) Private Limited,"Analytical, Linux, SQL +7 more"
5,Urgent hiring_Data Scientist_Tata Consultancy ...,Tata Consultancy Services Ltd.,7-10 Yrs
6,Urgent hiring_Data Scientist_Tata Consultancy ...,Tata Consultancy Services Ltd.,Not Disclosed
7,Senior Marketing Data Scientist,Thomson Reuters India Pvt Ltd,"python, Artificial Intelligence, data scientis..."
8,Senior Data Scientist,MetLife Global Operations Support Center Pvt. ...,5-8 Yrs
9,Immediate opening For Data Scientist @ Bangalo...,Teamlease Servcies limited,Not Disclosed

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [61]:
driver = webdriver.Chrome(r"C:\Users\SSIM STUDENT\Desktop\job\DA\chromedriver.exe")
time.sleep(2)
driver.get('https://www.ambitionbox.com/')

In [62]:
button = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
button.click()

In [63]:
search = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search.send_keys('Data Scientist')

In [64]:
button = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]")
button.click()

In [65]:
companyname=[]
totalsalaryrecord=[]
averagesalary = []
experiencerequired = []

In [66]:
cp = driver.find_element_by_class_name('name')
cp

In [67]:
cp.text.split()[0]

'Google'

In [69]:
cp = driver.find_elements_by_class_name('name')
c=cp[0:10]
c[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="069412813f04d54d2682d7af6e46d5de", element="a6294af5-73e2-4309-aef2-cb70cadc726f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="069412813f04d54d2682d7af6e46d5de", element="df6761f6-8d72-4b35-8bfc-3836858c1396")>]

In [70]:
for i in c:
    companyname.append(i.text.split()[0])
companyname

['Google',
 'Microsoft',
 'Goldman',
 'Tekion',
 'Amazon',
 'Flipkart',
 'Servicenow',
 'PayPal',
 'Walmart',
 'Arcesium']

In [73]:
tsp=driver.find_element_by_class_name('salary-range-wrapper')
tsp

In [74]:
tsp.text.replace('₹','  ')

'   31.8L\n   11.0L\n   65.0L'

In [76]:
tsp=driver.find_elements_by_class_name('salary-range-wrapper')
ts=tsp[0:10]
ts[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="069412813f04d54d2682d7af6e46d5de", element="3dd90cf6-4180-4ca1-8d6f-679568ab4e19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="069412813f04d54d2682d7af6e46d5de", element="7430f415-8127-45f7-aeac-fe951a5028b0")>]

In [77]:
for i in ts:
    totalsalaryrecord.append(i.text.replace('₹','  '))
totalsalaryrecord

['   31.8L\n   11.0L\n   65.0L',
 '   23.9L\n   13.0L\n   45.0L',
 '   23.0L\n   12.0L\n   34.0L',
 '   21.1L\n   12.0L\n   33.0L',
 '   20.9L\n   8.0L\n   45.0L',
 '   20.6L\n   7.5L\n   31.0L',
 '   20.4L\n   13.0L\n   28.0L',
 '   20.1L\n   12.0L\n   31.0L',
 '   19.9L\n   11.4L\n   32.5L',
 '   19.3L\n   12.0L\n   34.0L']

In [78]:
asa = driver.find_element_by_class_name('averageCtc')
asa

In [79]:
asa.text.replace('₹','  ')

'   31.8L'

In [81]:
asa = driver.find_elements_by_class_name('averageCtc')
asal = asa[0:10]
asal[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="069412813f04d54d2682d7af6e46d5de", element="2461be21-d200-46ef-acba-73d0a747493b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="069412813f04d54d2682d7af6e46d5de", element="00499699-0a78-40d7-994d-a99caf94697b")>]

In [82]:
for i in asal:
    averagesalary.append(i.text.replace('₹','  '))
averagesalary

['   31.8L',
 '   23.9L',
 '   23.0L',
 '   21.1L',
 '   20.9L',
 '   20.6L',
 '   20.4L',
 '   20.1L',
 '   19.9L',
 '   19.3L']

In [83]:
sal=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]')
sal

In [84]:
sal.text.replace('₹','  ')

'   11.0L\n   65.0L'

In [86]:
sal=driver.find_elements_by_xpath('//div[@class="salary-values"]')
sal[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="069412813f04d54d2682d7af6e46d5de", element="4c8d11da-de6a-4a9d-baa6-4b01e9743402")>,
 <selenium.webdriver.remote.webelement.WebElement (session="069412813f04d54d2682d7af6e46d5de", element="433b3e88-6be6-4163-8b0c-29cda0020567")>]

In [93]:
salary=[]
for i in sal:
    salary.append(i.text.replace('₹','  '))
salary[0:2]

['   11.0L\n   65.0L', '   13.0L\n   45.0L']

In [99]:
er=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
er[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="069412813f04d54d2682d7af6e46d5de", element="451a8162-54c5-4255-a3ab-9a5c8dd84105")>,
 <selenium.webdriver.remote.webelement.WebElement (session="069412813f04d54d2682d7af6e46d5de", element="c09eeb19-e10e-47c1-aa5c-39e244eb544c")>]

In [100]:
for i in er:
    experiencerequired.append(i.text.split()[3])
experiencerequired

['1-3', '1-4', '2', '2-4', '1-4', '1-4', '2-4', '1-2', '1-4', '1-2']

In [101]:
len(companyname),len(totalsalaryrecord),len(averagesalary),len(salary),len(experiencerequired)

(10, 10, 10, 10, 10)

In [102]:
salary_data=pd.DataFrame({'Company Name':companyname,'Total salary record':totalsalaryrecord,'Average Salary':averagesalary,'Min_Max Salary':salary,'Experience Required':experiencerequired})
salary_data

,Company Name,Total salary record,Average Salary,Min_Max Salary,Experience Required
0,Google,31.8L\n 11.0L\n 65.0L,31.8L,11.0L\n 65.0L,1-3
1,Microsoft,23.9L\n 13.0L\n 45.0L,23.9L,13.0L\n 45.0L,1-4
2,Goldman,23.0L\n 12.0L\n 34.0L,23.0L,12.0L\n 34.0L,2
3,Tekion,21.1L\n 12.0L\n 33.0L,21.1L,12.0L\n 33.0L,2-4
4,Amazon,20.9L\n 8.0L\n 45.0L,20.9L,8.0L\n 45.0L,1-4
5,Flipkart,20.6L\n 7.5L\n 31.0L,20.6L,7.5L\n 31.0L,1-4
6,Servicenow,20.4L\n 13.0L\n 28.0L,20.4L,13.0L\n 28.0L,2-4
7,PayPal,20.1L\n 12.0L\n 31.0L,20.1L,12.0L\n 31.0L,1-2
8,Walmart,19.9L\n 11.4L\n 32.5L,19.9L,11.4L\n 32.5L,1-4
9,Arcesium,19.3L\n 12.0L\n 34.0L,19.3L,12.0L\n 34.0L,1-2

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [104]:
driver = webdriver.Chrome(r"C:\Users\SSIM STUDENT\Desktop\job\DA\chromedriver.exe")
time.sleep(2)

In [105]:
driver.get('https://www.naukri.com/')

In [106]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [107]:
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [110]:
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [111]:
Job_Role1=[]
Comp_names1=[]
Location_list1=[]

In [112]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="3256be0098701367203bd13f31bf5163", element="ed7c8fa2-2b36-4a8b-a1ec-8d575a0dc2bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3256be0098701367203bd13f31bf5163", element="12a67631-1d84-448b-b07d-79ba8812c80b")>]

In [113]:
for i in title_tags:
    Job_Role1.append(i.text)
Job_Role1[0:2]

['AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position']

In [114]:
Jl1= Job_Role1[0:10]

In [115]:
Company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="3256be0098701367203bd13f31bf5163", element="da546690-c33b-4f5a-9ac4-c7d30883a070")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3256be0098701367203bd13f31bf5163", element="c0836978-a28e-4877-ace5-2dc20cca5f29")>]

In [117]:
for i in Company_tags:
    Comp_names1.append(i.text)
Comp_names1[0:10]

['Wipro',
 'Wipro',
 'Concentrix Daksh Services',
 'Evalueserve',
 'Genpact',
 'Walmart',
 'Walmart',
 'Genpact',
 'IHS Markit',
 'Genpact']

In [119]:
Cl1=Comp_names1[0:10]

In [120]:
Location_lists=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
Location_lists[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="3256be0098701367203bd13f31bf5163", element="1f90249b-ede0-4f88-b528-26d5d0422b34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3256be0098701367203bd13f31bf5163", element="4c035269-6072-43a1-a758-4b7ed59061b0")>]

In [121]:
for i in Location_lists:
    Location_list1.append(i.text)
Location_list1[0:2]

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [123]:
Ll1=Location_list1[0:10]

In [124]:
len(Jl1),len(Cl1),len(Ll1)

(10, 10, 10)

In [125]:
jobs=pd.DataFrame({'title':Jl1,'company':Cl1,'location':Ll1})
jobs

,title,company,location
0,AI Technologist Vacancy,Wipro,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
1,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
2,DATA Scientist with Fraud Analytics Experience,Concentrix Daksh Services,Bangalore/Bengaluru
3,Looking For Data Scientist ( Exp in R OR R Shiny),Evalueserve,Bangalore/Bengaluru
4,Data Scientist,Genpact,Bangalore/Bengaluru
5,Senior Data Scientist,Walmart,Bangalore/Bengaluru
6,Senior Data Scientist,Walmart,Bangalore/Bengaluru
7,Data Scientist,Genpact,Bangalore/Bengaluru
8,Associate Director - Data Science,IHS Markit,Bangalore/Bengaluru
9,Data Scientist,Genpact,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [63]:
driver = webdriver.Chrome(r"C:\Users\SSIM STUDENT\Desktop\job\DA\chromedriver.exe")
time.sleep(2)

In [64]:
driver.get('https://www.naukri.com/')
time.sleep(7)

In [65]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [66]:
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_field_location.send_keys("Delhi")

In [67]:
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()
time.sleep(7)

In [68]:
Job_Role2=[]
Comp_names2=[]
Location_list2=[]

In [82]:
button = driver.find_element_by_class_name("fw500")
button.click()